@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.flex-all-center{
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
}